doctype html 
html(lang='en')
  head 
  meta(charset="UTF-8")
  title Node Project 
  link(rel="stylesheet" type="text/css" href="/style.css")
  link(rel="icon" type="image/x-icon" href="/favicon.ico")
  body 
    Display only this page
    button#hiButton Say Hi! 
    button#helloButton Greet the server with hello! 
    button#whatsUpButton Greet the server with what's up! 
    button#updateButton Update message 
    button#deleteButton Delete message 
    button#pokemonButton Pokemon
    p#abilities 
    script(src="/app.js")
  

